script(type="text/x-template" id="list-template" lang="pug")
  main.main.main_list(v-show="isShown")     
    .main__content
      .container
        .section.main-list
          a.mainlist__btn(href="/", v-on:click="goPlay") К игре
            svg
              use(xlink:href=`${data.cdn}img/sprite/sprite.svg#arrowl`)
          .main-list__inner()
            .main-list__header
              .score.score_title
                .score__number Место
                .score__name Участник
                .score__value Баллы 
            ul.main-list__list
              li.main-list__item(v-for="(item, index) in listData")
                .score
                  .score__number(v-text='index + 1')
                  .score__info
                    .score__foto
                      img.score__img(:src='item.photo' title="user")
                    .score__data  
                      .score__name(v-text='item.name')
                      .score__city(v-if='item.city' v-text='item.city')
                  .score__value(v-text='item.summ')
            