.logo
  svg.logo__svg(viewBox="0 0 200 100" preserveAspectRatio="none")
    polygon(points="0,0 0,200 200,0")
  a.logo__title(href="/")
    img.logo__img(src=`${data.cdn}img/raff.png` title="Райффайзен Банк")