.user
  .user__foto
    img.user__img(v-bind:src="user.photoSmall", alt="имя пользователя")
  .user__content  
    .user__name {{user.firstName}} {{user.lastName}}
    .user__data
      span.user__sign На счету: 
      span.user__acc {{info.summ}}