.user
  .user__foto
    img.user__img(src=`${data.cdn}img/deineris.jpeg`, alt="имя пользователя")
  .user__content  
    .user__name Дейнерис Таргариен
    .user__data
      span.user__sign На счету: 
      span.user__acc 360