.main_getcard {
  background-color: #f3f3f4;

  .container {
    max-width: 800px;
    flex-direction: column;
  }

  .hero {
    background-color: #fff;
    // background-image: url('../img/cardfon.jpg');
    // background-position: center bottom;
    // background-size: cover;
    margin-bottom: 0;

    @include url('cardfon.jpg');
  }

  .hero__title {
    left: 20px;
    top: 90px;
    width: 297px;

    @include laptop() {
      top: 50px;
    }
  }

  .main__content {
    max-width: 100%;
  }
}

.promocard__top {
  margin-bottom: 40px;
  position: relative;

  .container {
    max-width: 100%;
    width: 1120px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;

  }
}

.promocard__content {
  padding: 0 10px;

  .container {
    position: relative;
    display: block;
    max-width: 800; 
  }
}

.promocard__top-svg {
  width: 1200px;
  height: 287px;
  fill: #fbef48;

  @include desktop {
    width: 1000px;
    height: 228px;
  }

  @include laptop {
    width: 916px;
    height: 185px;
  }

  @include minilaptop {
    width: 800px;
    height: 150px;
  }

  @include minilaptop {
    width: 600px;
    height: 130px;
  }

  @include tablet {
    width: 450px;
    height: 130px;
  }
  @include phone {
    width: 300px;
    height: 75px;
  }
}

.promocard__title {
  margin: 0;
  font-family: ralewayextrabold;
  font-size: 50px;
  width: 50%;

  @include desktop {
    font-size: 50px;
  }

  @include laptop {
    font-size: 36px;
    margin-left: 40px;
  }

  @include minilaptop {
    font-size: 30px;
    margin-left: 30px;
  }

  @include tablet {
    font-size: 26px;
    margin-left: 20px;
  }

  @include phone {
    font-size: 14px;
    margin-left: 10px;
  }
}

.promocard__adv {
  width: 50%;
  height: 100%;
  position: relative;
}

.promocard__adv-wrap {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 400px;
  height: 252px;
  overflow: hidden;

  @include desktop {
    width: 317px;
    height: 200px;
  }

  @include laptop {
    width: 258px;
    height: 163px;
    top: 10px;
    left: 150px;
  }

  @include minilaptop {
    width: 207px;
    height: 252px;
    left: 50px;
    top: 5px;
  } 

  @include tablet {
    width: 181px;
    height: 114px;
    left: 0;
  }

  @include phone {
    width: 111px;
    height: 70px;
  }
}

.promoacrd__adv-img {
  max-width: 100%;
  height: auto;
}

.promocard__subtitle {
  display: block;
  margin: 0 0 20px;
  font-family: ralewaybold;
  font-size: 30px;

  @include tablet {
    font-size: 24px;
  }

  @include phone {
    font-size: 20px;
  }
}

.promocard__inner-text {
  margin-bottom: 40px;
}

.promocard__text {
  margin: 0;
  margin-bottom: 10px;
  font-family: ralewayregular;
  font-size: 20px;
  line-height: 1.3;

  @include tablet {
    font-size: 18px;
  }
  @include phone {
    font-size: 14px;
  }
}

.promocard__list {
  margin: 0 0 30px 40px;
  padding: 0;
  list-style: none;
  font-family: ralewayregular;
  font-size: 20px;

  @include tablet {
    font-size: 18px;
  }

  @include phone {
    font-size: 14px;
  }
}

.promocard__item {
  display: block;
  padding-left: 25px;
  margin-bottom: 10px;
  position: relative;

  svg {
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    height: 15px;
    fill: #000;
  }
  .star {
    font-size: 25px;
    font-family: ralewaybold;
  }
  .number {
    position: relative;
    top: -10px;
    font-size: 18px;
    font-family: ralewaybold;
  }
}

.promocard__btn {
  width: 330px;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 4px;
  background-color: #fbef48;
  justify-content: center;
  font-family: ralewaybold;
  font-size: 20px;
  color: #000;

  &:hover,
  &:active {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24);
  }

  @include minilaptop {
    width: 330px;
    height: 60px;
  }

  @include tablet {
    width: 260px;
    height: 50px;
    font-size: 18px;
  }

}

.mobile {
  min-height: 300px;
  background-color: #fff;
  padding: 30px 10px;

  .container {
    max-width: 1100px;
  }

  .mobile__title {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-family: ralewaybold;
    font-size: 30px;
    text-align: center;

    .start {
      font-size: 40px;
    }
    .number {
      position: relative;
      top: -15px;
      font-size: 18px;
      font-family: ralewaybold;
    }
  
    @include tablet {
      font-size: 24px;
    }
  
    @include phone {
      font-size: 20px;
    }
  }

  .mobile__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .mobile__content-item {
    margin: 0 5px;

    @include tablet {
      margin: 0;
      margin-bottom: 20px;
    }
  }

  .mobile__item {
    width: 100%;
    max-width: 400px;
    position: relative;
    padding-left: 60px;
    min-height: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    font-family: ralewayregular;
    font-size: 20px;

    .star {
      font-size: 36px;
      font-family: ralewaybold;
    }
    .number {
      position: relative;
      top: -10px;
      font-size: 18px;
      font-family: ralewaybold;
    }

    @media screen and (max-width: 939px) {
      margin: 0 auto;
      margin-bottom: 20px;
    }

    @include phone {
      font-size: 14px;
    }
  }

  .mobile__svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: #4141be;
    width: 40px;
    height: 40px;
  }

  .mobile__svg_quest {
   
  }

  .mobile__svg_wallet {
   
  }

  .mobile__svg_pig {
    
  }

  .mpbile__svg_ccard  {
    
  }
}
