.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 96px;
  max-width: 358px;
  width: 100%;
  overflow: hidden;
  z-index: 2;

  @include desktop() {
    height: 76px;
    max-width: 285px;
  }

  @include laptop() {
    height: 37px;
    max-width: 175px;
    position: relative;
    flex: 1 1 auto;
  }
}

.logo__title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 96px;
  width: 358px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
  text-decoration: none;

  &:active,
  &:hover {
    text-decoration: none;
  }

  @include desktop() {
    height: 76px;
    width: 285px;
    margin-left: 15px;
  }

  @include laptop() {
    height: 37px;
    width: 175px;
    margin-left: 5px;
  }
}

.logo__img {
  width: 250px;
  height: 56px;

  @include desktop() {
    max-width: 198px;
    height: 44px;
  }

  @include laptop() {
    width: 170px;
    height: 37px;
  }
}

.logo__svg {
  fill: #fff;
  stroke: rgba(0, 0, 0, 0.12);
  stroke-width: 1;

  @include laptop() {
    display: none;
  }
}
