doctype html
html
    include common/_head
    body
      #app
        .wrapper(v-show="loading" v-bind:class="{visuallyHidden: !loading}")
          block header
            include common/_header
            
          block main
