doctype html
html
    include common/_head
    body
      #app
        .wrapper(v-show="loading" v-bind:class="{visuallyHidden: !loading}")
          block header
            include common/_header
            
          block main
          .arrow-up#back-top
            a.arrow-up__link(href='/' v-on:click="onBackTop") Наверх
              svg
                use(xlink:href=`${data.cdn}img/sprite/sprite.svg#arrowu`)
