extends _main-layout

block main 
    start-component(:is-shown="startShow")
    article-component(:is-shown="articleShow", article-id="articleId")
    include common/_main
    include common/_article


    
           
