extends _main-layout

block main 
    start-component(:is-shown="startShow", :info-data="info")
    article-component(:is-shown="articleShow", article-id="articleId", :info-data="info")
    get-card-component(:is-shown="getCardShow")
    list-component(:is-shown="listShow", :list-data="userList")
    game-component(:is-shown="gameShow", :info-data="info", :show-sc="showScenario", :user-data="user")
    include common/_main
    include common/_article
    include common/_getcard
    include common/_list
    include common/_game


    
           
