// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-arrowl-name: 's-arrowl';
$s-arrowl-x: 0px;
$s-arrowl-y: 106px;
$s-arrowl-offset-x: 0px;
$s-arrowl-offset-y: -106px;
$s-arrowl-width: 94px;
$s-arrowl-height: 94px;
$s-arrowl-total-width: 202px;
$s-arrowl-total-height: 200px;
$s-arrowl-image: '../img/sprite/sprite.png';
$s-arrowl: (0px, 106px, 0px, -106px, 94px, 94px, 202px, 200px, '../img/sprite/sprite.png', 's-arrowl', );
$s-arrowlh-name: 's-arrowlh';
$s-arrowlh-x: 0px;
$s-arrowlh-y: 0px;
$s-arrowlh-offset-x: 0px;
$s-arrowlh-offset-y: 0px;
$s-arrowlh-width: 96px;
$s-arrowlh-height: 96px;
$s-arrowlh-total-width: 202px;
$s-arrowlh-total-height: 200px;
$s-arrowlh-image: '../img/sprite/sprite.png';
$s-arrowlh: (0px, 0px, 0px, 0px, 96px, 96px, 202px, 200px, '../img/sprite/sprite.png', 's-arrowlh', );
$s-arrowr-name: 's-arrowr';
$s-arrowr-x: 106px;
$s-arrowr-y: 0px;
$s-arrowr-offset-x: -106px;
$s-arrowr-offset-y: 0px;
$s-arrowr-width: 96px;
$s-arrowr-height: 96px;
$s-arrowr-total-width: 202px;
$s-arrowr-total-height: 200px;
$s-arrowr-image: '../img/sprite/sprite.png';
$s-arrowr: (106px, 0px, -106px, 0px, 96px, 96px, 202px, 200px, '../img/sprite/sprite.png', 's-arrowr', );
$s-arrowrh-name: 's-arrowrh';
$s-arrowrh-x: 104px;
$s-arrowrh-y: 106px;
$s-arrowrh-offset-x: -104px;
$s-arrowrh-offset-y: -106px;
$s-arrowrh-width: 94px;
$s-arrowrh-height: 94px;
$s-arrowrh-total-width: 202px;
$s-arrowrh-total-height: 200px;
$s-arrowrh-image: '../img/sprite/sprite.png';
$s-arrowrh: (104px, 106px, -104px, -106px, 94px, 94px, 202px, 200px, '../img/sprite/sprite.png', 's-arrowrh', );
$spritesheet-width: 202px;
$spritesheet-height: 200px;
$spritesheet-image: '../img/sprite/sprite.png';
$spritesheet-sprites: ($s-arrowl, $s-arrowlh, $s-arrowr, $s-arrowrh, );
$spritesheet: (202px, 200px, '../img/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
